.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: 700
}

.Icon-container-check {
    position: absolute;
    left: 12px
}

.Icon-container-delete {
    position: absolute;
    top: -24px;
    right: 0
}

.Icon-svg{
    height: 24px;
    width: 24px;
}

/* fill indica el color de la imagen svg  */
.Icon-container-delete:hover .Icon-svg {
    fill: red
}

.Icon-container-check:hover .Icon-svg {
    fill: green
}